body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: pink;
}

.header1 {
    background-color: rgb(204, 165, 195);
    border: 30px;
    margin: 20px;
}

.header1 ul{
    list-style-type: none;
}

.kuva_vaihdos img {
      cursor: pointer;
      width: 300px;
      height: auto;
      float: right;
      margin-right: 30px;
}

.kuva_vaihdos {
    float: right;
}